@import '../../style/components/button.scss';

.pure-button {
  @include pure-button-reset();
}

.pure-button:before {
  content: "";
  position: absolute;
  height: calc(100%/2);
  width: 100%;
  background: #fff;
  left: 0;
  top: 0;
  transition: all .3s;
  opacity: 0.3;
}

.pure-button:hover:before {
  top: 90%;
}