@import '../core';

$basic: rgb(71, 71, 71);
$primary: rgb(45, 189, 50);
$warn: #FF3D00;
$accent:  rgb(55, 92, 110);
$foceground: white;
$background: #292929;

$theme: generate-theme($basic, $primary, $warn, $accent, $foceground, $background);

// Include all theme styles for the components.
@include pure-theme($theme);
