@import '../core';

$default: rgb(71, 71, 71);
$primary: rgb(45, 189, 50);
$warn: #FF3D00;
$accent:  #3199ce;
$foreground: #ffffff;
$background: #666666;

$theme: generate-theme($default, $primary, $warn, $accent, $foreground, $background);

// Include all theme styles for the components.
@include pure-theme($theme);
