<div style="width: 100%; height:100vh;padding: 32px;">
  <div style="margin-top: 16px;">
    <div>Basic</div>
    <button pure-button>Default</button>
    <button pure-button color="primary">Primary</button>
    <button pure-button color="warn">Warn</button>
    <button pure-button color="accent">Accent</button>
    <button pure-button disabled>Disabled</button>
    <a pure-button>Link</a>
  </div>
  <div style="margin-top: 16px;">
    <div>Flat</div>
    <button pure-flat-button>Default</button>
    <button pure-flat-button color="primary">Primary</button>
    <button pure-flat-button color="warn">Warn</button>
    <button pure-flat-button color="accent">Accent</button>
    <button pure-flat-button disabled>Disabled</button>
    <a pure-flat-button>Link</a>
  </div>
  <div style="margin-top: 16px;">
    <div>Raised</div>
    <button pure-raised-button>Default</button>
    <button pure-raised-button color="primary">Primary</button>
    <button pure-raised-button color="warn">Warn</button>
    <button pure-raised-button color="accent">Accent</button>
    <button pure-raised-button disabled>Disabled</button>
    <a pure-raised-button>Link</a>
  </div>
  <div style="margin-top: 16px;">
    <div>Stroked</div>
    <button pure-stroked-button>Default</button>
    <button pure-stroked-button color="primary">Primary</button>
    <button pure-stroked-button color="warn">Warn</button>
    <button pure-stroked-button color="accent">Accent</button>
    <button pure-stroked-button disabled>Disabled</button>
    <a pure-stroked-button>Link</a>
  </div>
  <div>
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password"><br>
    <button pure-button color="primary">Login</button>
    <button pure-button>No</button>
  </div>
</div>

<!-- https://codepen.io/sandeshdamkondwar/pen/qEZXQa -->
<!-- https://codepen.io/banminkyoz/pen/KBxxjq -->