.container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  header {
    height: 56px;
    line-height: 56px;
    padding: 0px 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    position: relative;
      &:after {
        content: "";
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border-radius: 2px;
        transition: all .3s;
        opacity: 0.3;
        background: linear-gradient(to bottom, transparent 0%, #e0e0e0 50%, #b1b1b1 51%, white 100%);
        // background: linear-gradient(to bottom, transparent 0%, white 100%);
      }
  }
  .left {
    position: fixed;
    box-sizing: border-box;
    left: 0px;
    width: 10%;
    height: 100%;
    -webkit-box-shadow: 1px 0px 2px 0px rgba(186, 186, 186, 1);
    -moz-box-shadow: 1px 0px 2px 0px rgba(186, 186, 186, 1);
    box-shadow: 1px 0px 2px 0px rgba(186, 186, 186, 1);
    .menu-item {
      width: 100%;
      text-align: left;
    }
  }
  .right {
    position: fixed;
    box-sizing: border-box;
    right: 0px;
    width: 90%;
    height: 100%;
    padding: 32px;
    &:fullscreen {
      width: 100%;
    }
    &:-webkit-full-screen {
      width: 100%;
    }
    &:-moz-full-screen {
      width: 100%;
    }
    &:-ms-fullscreen {
      width: 100%;
    }
  }
}
